body{
margin:0;
font-family:Arial;
background:#0f1c2e;
color:#e6edf7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.forma_kontejner{
background:#081425;
padding:40px;
border-radius:10px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
background:#1b3355;
color:white;
}

input::placeholder{
color:#c9d6f0;
}

button{
width:80%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;
background:#1b3355;
color:white;
cursor:pointer;
transition:0.25s;
}

button:hover{
background:#2a4a7a;
}

.link_tekst{
margin-top:10px;
font-size:14px;
}

.link_tekst a{
color:#c9d6f0;
text-decoration:none;
}

.link_tekst a:hover{
color:white;
}