html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Arial;
background:#0f1c2e;
color:#e6edf7;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#081425;
position:sticky;
top:0;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#c9d6f0;
padding:6px 10px;
border-radius:5px;
transition:0.25s;
}

nav a:hover{
background:#1b3355;
color:#ffffff;
}

.prijava a{
text-decoration:none;
font-weight:bold;
color:#c9d6f0;
padding:6px 12px;
border-radius:5px;
transition:0.25s;
}

.prijava a:hover{
background:#1b3355;
color:white;
}

.glavna_sekcija{
padding:120px 60px;
text-align:center;
}

img{
border-radius:10px;
box-shadow:5px 5px 10px rgba(0,0,0,0.5);
}

.glavna_slika{
width:100%;
height:500px;
object-fit:cover;
margin-top:40px;
}

.tekst_sekcija{
padding:80px 200px;
font-size:18px;
line-height:1.6;
}

.kartice{
display:flex;
gap:30px;
padding:80px 60px;
}

.kartica{
flex:1;
text-align:center;
}

.slika{
width:100%;
height:200px;
object-fit:cover;
margin-top:20px;
}

.podeljena_sekcija{
display:flex;
padding:80px 60px;
gap:50px;
align-items:center;
}

.podeljena_slika{
flex:1;
height:300px;
object-fit:cover;
}

.podeljen_tekst{
flex:1;
font-size:18px;
}

.naslov_tekst{
padding:100px 60px;
text-align:center;
}

.naslov_tekst p{
margin-top:30px;
font-size:18px;
}

footer{
background:#081425;
color:#c9d6f0;
text-align:center;
padding:40px;
}